html,body{
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

#about .icon_description{
	padding-left: 0px;
}
#about p.icon_description{
	padding-right: 10px;
}

@media(max-width: 600px){
	#about,#services,#contact{
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
	#about p.vc_custom_heading{
		line-height: 1 !important;
		padding-right: 0px;
	}
}