/*
 * |---:[Đoạn này sẽ chứa các đoạn giới thiệu và thông tin về theme, như tên theme (Theme Name), tên tác giả (Theme Author), địa chỉ của tác giả (Author URI),...]:---|
 
 * Theme Name: ThienPham Theme 2016
 * Description: Đây là một theme đơn giản để Lập trình theme WordPress
 * Theme URI: http://thienpham.com
 * Author: Thiện Phạm
 * Author URI: https://www.facebook.com/thien.pham.5074
 * Tags: starter theme, framework theme, two-columns, customize
 * Textdomain: thienpham
 * Languages Folder: /languages;
 */

/* Global Styles */
html{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body {
    font-size: 100%;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-color: #333333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
img {
    max-width: 100%;
    height: auto;
}
a {
    color: #F6591C;
    text-decoration: none;
}
a:hover, a:visited, a:active {
    color: #FF3F00;
    text-decoration: underline;
}
input,input[type="submit"],button {
    border: 1px solid #C8C8C8 !important;
    padding: 5px 10px;
}
h1 {
    font-size: 2.2em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.8em;
}
h4 {
    font-size: 1.55em;
}
h5 {
    font-size: 1.3em;
}
table, table tr, table td {
    border: 1px solid #e7e7e7;
    padding: 8px;
}

.no-padding {
   padding: 0 !important;
   margin: 0 !important;
}
/*---:[WEBSITE COLUMNS]:---*/


